.container_root {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 85vh;
  margin-top: -5px;
  margin-bottom: 20px;
}

.container_root h1 {
  text-transform: capitalize;
}

.container_one {
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  padding: 0 10px;
  min-height: 91vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  border: 10px solid rgba(255, 255, 255, 0.3);
  border-right: none;
}

.container_one img {
  width: 150px;
  height: 150px;
  margin-top: 10px;
  border: 5px solid black;
  border-radius: 20px;
  background-color: rgb(231, 171, 171);
}

.container_one ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container_one ul li {
  text-transform: capitalize;
  padding: 5px 20px;
  text-align: center;
  margin: 5px 0;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #fff;
}

.container_two {
  display: flex;
  background-color: rgba(255, 255, 255, 0.3);
  flex-direction: column;
  align-items: center;
  min-height: 91vh;
  border: 10px solid rgba(255, 255, 255, 0.3);
}

.container_two .container_stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container_two .container_stats div {
  max-width: 100px;
  margin: 10px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #fff;
}

.container_two .container_stats div h3 {
  margin: 10px 0;
}

.container_two .container_stats div span {
  margin-bottom: 10px;
}
