.FB-container {
	background-color: white;
	border-bottom: 5px solid black;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	font-size: 25px;
	box-shadow: 12px;
}

.FB-container-search {

}

.FB-container-search-input {
	border-radius: 20px;
	height: 30px;
	padding-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.FB-container-search-button {
  min-width: 50px;
  height: 30px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #212529;
  background: #212529;
}

.FB-container-search-button:hover {
	background: #fff;
  color: #212529
}

.FB-text{
	font-size: 20px;
	margin-top: 5px;
	padding-right: 10px;
}

.FB-container-options {
	display: inline-flex;
	align-items: center;
}

.FB-container-origin {
	border-radius: 20px;
	height: 30px;
	padding-left: 10px;
	margin-right: 10px;
}

.FB-container-sorts {
	border-radius: 20px;
	height: 30px;
	padding-left: 10px;
	margin-right: 10px;
}

.FB-container-types {
	border-radius: 20px;
	height: 30px;
	padding-left: 10px;
	margin-right: 10px;
}

.FB-container-refresh-button {
  min-width: 50px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #212529;
  background: #212529;
  margin-bottom: 10px;
}

.FB-container-refresh-button:hover {
	background: red;
	border: 2px solid red;
}
