.NB-container {
	background-color: #750C0C;
	border-bottom: 5px solid black;
	display: inline-flex;
	width: 100%;
	font-size: 25px;
	padding: 10px 0 10px 0;
	box-shadow: 12px;
}

.NB-pokemon-container {
	width: 70%;
	padding: 0 0 0 10px;
}

.NB-hom-cre-container {
	display: flex;
	justify-content: space-evenly;
	width: 30%;
}

.NB-button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #212529;
  background: #212529;
}
.NB-button:hover {
  background: #fff;
  color: #212529
}