.container {
  display: flex;
  min-width: 100%;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
}

.search {
  border-radius: 20px;
  margin-right: 10px;
  font-size: 20px;
}

.search:placeholder-shown {
  text-align: center;
}

.button {
  border-radius: 10px;
  font-size: 20px;
}

.button:hover {
  transform: scale(1.2);
}

.button_close {
  border-radius: 10px;
  font-size: 20px;
  padding: 0 5px;
  color: white;
  background-color: rgb(221, 84, 84);
  margin-left: 5px;
}

.button_close:hover {
  transform: scale(1.2);
}